<h1><strong>Data Science Tools and Ecosystem</strong></h1>

<h2> <strong>Introduction: </strong></h2>

> **In this notebook project. We will talk on the most important programming languages, libraries, tools, and the ecosystem used in data science. Also, providing examples using code on arithmetic expression, multiplying, adding numbers, and converting minutes to hours using code.**<br>

<strong>Objectives:</strong>


<ul>

<li><a href="#languages">List important of programming languages used in Data Science.</a></li>
<li><a href="#libraries">The most important of libraries used in data science.</a></li>
<li><a href="#tools">Table important of tools used in data science and the ecosystem.</a></li>
<li><a href="#arithmetic">Examples of arithmetic expression using code in Python.</a></li>

</ul><br>
<br>

<a id='languages'></a>
**List important of programming languages used in Data Science:**

<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>Matlab.</li>
    <li>Java.</li>
    <li>C++.</li>
</ol><br>

<a id='libraries'></a>
**The most important of libraries used in data science:**

<ol>
    <li>NumPy.</li>
    <li>Pandas.</li>    
    <li>Matplotlib.</li>
    <li>Seaborn.</li>
    <li>Plotly.</li>
    <li>BeautifulSoup.</li>
    <li>SciKit-Learn.</li>
    <li>SciPy.</li>
    <li>TensorFlow.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>Keras.</li>
    <li>NLTK.</li>
    <li>LightGBM.</li>
    <li>XGBoost.</li>
    <li>Statsmodels.</li>
    <li>H2O.ai.</li>
    <li>Theano.</li>
    <li>Caffe.</li>
    <li>Deeplearning4j.</li>
    <li>Neuroph.</li>
    <li>NuPIC.</li>
    <li>MXNet.</li>
   <li>Caffe2.</li>
    <li>Chainer.</li>
</ol><br>

<a id='tools'></a>
**Table important of tools used in data science and the ecosystem:**


<table style="width:100%">
    
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  
  <tr>
    <td>Anaconda</td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>RStudio </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
 
</table>
<br>

<a id='arithmetic'></a>

<h3>Examples of arithmetic expression using code in Python.</h3>

In [20]:
# Example of arithmetic expression to multiplying then adding integers.
x = (3*4)+5. 

print("Output of Multiplying then Adding integers {(3*4) + 5}:", x)

Output of Multiplying then Adding integers {(3*4) + 5}: 17.0

In [21]:
# Example of converting 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

<h2>Author:</h2>
Omar Ihwainish